{%extends 'base.html'%}
{%load static%}
{%block content%}

<section id="appointment" data-stellar-background-ratio="3">
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-6">
                         <!-- CONTACT FORM HERE -->
                         <form method="POST" id="appointment-form" role="form">
                              {%csrf_token%}

                              <!-- SECTION TITLE -->
                              <div class="section-title wow fadeInUp" data-wow-delay="0.4s">
                                   <h2>Contact us</h2>
                              </div>

                              <div class="wow fadeInUp" data-wow-delay="0.8s">
                                   <div class="col-md-12 col-sm-12">
                                        {{form.Name}}
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        {{form.Subject}}
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        {{form.Email}}
                                   </div>

                                   <div class="col-md-12 col-sm-12">
                                        {{form.Message}}
                                        <button type="submit" class="form-control" id="cf-submit" name="submit">Submit Button</button>
                                   </div>
                              </div>
                        </form>
                    </div>

               </div>
          </div>
     </section>
 {%endblock%}